.statistics {
  &__wrapper {
    padding: 0 34px 61px 34px;
  }
}

.statistics__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.statistics-wrapper {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(300px, 90vw);

    img {
      height: 80px;
    }
  }
}

.statistics-wrapper-item-content {
  &__title h2 {
    color: $grey-90;
    font-weight: normal;
    letter-spacing: 0.15px;
    line-height: 40px;
    text-align: center;
    margin: 60px 0 64px 0;
  }

  &__subtitle h3 {
    position: relative;
    top: 24px;
    font-size: 1rem;
    font-weight: $font-light;
    height: 49px;
    letter-spacing: 0.009rem;
    line-height: 49px;
    text-align: center;
  }

  &__title h3 {
    color: $grey-90;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 43px;
    font-weight: $font-semi-bold;
    margin-top: 12px;
  }

  &__description {
    text-align: center;
    color: $grey-45;
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 5px;

    p {
      margin: 0;
    }
  }
}
