<div class="app-header">
  <div class="app-logo">
    <a class="app-logo__link" href="/">
      <img class="app-logo__image" alt="Revenir à la page d’accueil" src="/logo-pix.png">
    </a>
  </div>

  <div class="app-navbar navigation-bar">
    <ul class="navigation-links">
      <li class="navigation-link"><a href="/page-complete" class="navigation-link__anchor">Exemple de page</a></li>
      <li class="navigation-link">{{#link-to 'posts' class="navigation-link__anchor"}}Blog{{/link-to}}</li>
      <li class="navigation-link">{{#link-to 'faq' class="navigation-link__anchor"}}FAQ{{/link-to}}</li>
    </ul>
  </div>
</div>