<div class="app-header-container">
  <div class="app-logos">
    <div class="app-logo-pix">
      <a class="app-logo-pix__link" href="https://pix.fr">
        <img class="app-logo-pix__image" alt="Revenir sur le site Pix.fr" src="/logo-pix.png">
      </a>
    </div>
    <div class="app-logo-marianne">
      <img class="app-logo-marianne__image" alt="Logo de la République Française" src="/logo-marianne.svg">
    </div>
  </div>
</div>