<div class="app-header-container">
  <div class="app-logos">
    <div class="app-logo-pix">
      <a class="app-logo-pix__link" href="/">
        <img class="app-logo-pix__image" alt="Revenir à la page d’accueil" src="/logo-pix.png">
      </a>
    </div>
    <div class="app-logo-marianne">
      <img class="app-logo-marianne__image" alt="Logo de la République Française" src="/logo-marianne.svg">
    </div>
  </div>

  <div class="app-navbar navigation-bar">
    <ul class="navigation-links">
      <li class="navigation-link">{{#link-to 'posts' class="navigation-link__anchor"}}Blog{{/link-to}}</li>
      <li class="navigation-link">{{#link-to 'faq' class="navigation-link__anchor"}}FAQ{{/link-to}}</li>
    </ul>
  </div>
</div>