<div class="blog-post-detail__header">
  <h1 class="blog-post-detail__title">{{title}}</h1>
  <span class="blog-post-detail__publication-date">{{publicationDate}}</span>
</div>

<div class="blog-post-detail__body">
  {{{content}}}
</div>
