<div class="cms-page__header">
  <h1 class="cms-page__title">{{title}}</h1>
</div>

<div class="cms-page__body">
  {{#if pageHeader}}
    <div class="page-header">
      {{{pageHeader}}}
    </div>
  {{/if}}

  {{#if pageBody}}
    <div class="page-body">
      {{{pageBody}}}
    </div>
  {{/if}}

  {{#if pageFooter}}
    <div class="page-footer">
      {{{pageFooter}}}
    </div>
  {{/if}}
</div>
