<h2 class="faq-category-title">
  {{as-text faqCategory.rawJSON.title}}
</h2>

<ul class="faq-category-items">
  {{#each faqItems as |faqItem|}}
    <li class="faq-category-item">
      {{faq-item faqItem=faqItem}}
    </li>
  {{else}}
    Il n’y a pas encore de questions.
  {{/each}}
</ul>
