<div class="school-column-list">
  {{#each columnASchools as |school|}}
    <p class="school-column-item">{{school.school_name}}</p>
  {{/each}}
</div>

<div class="school-column-list">
  {{#each columnBSchools as |school|}}
    <p class="school-column-item">{{school.school_name}}</p>
  {{/each}}
</div>

<div class="school-column-list">
  {{#each columnCSchools as |school|}}
    <p class="school-column-item">{{school.school_name}}</p>
  {{/each}}
</div>