<div class="school-column-list">
  {{#each columnASchools as |school|}}
    <p class="school-column-item">
      <span class="school-column-item__name">{{school.school_name}}</span>
    </p>
  {{/each}}
</div>

<div class="school-column-list">
  {{#each columnBSchools as |school|}}
    <p class="school-column-item">
      <span class="school-column-item__name">{{school.school_name}}</span>
    </p>
  {{/each}}
</div>

<div class="school-column-list">
  {{#each columnCSchools as |school|}}
    <p class="school-column-item">
      <span class="school-column-item__name">{{school.school_name}}</span>
    </p>
  {{/each}}
</div>