<div class="pop-in-campagns-content">
  <img  class="pop-in-campagns-content__logo" alt="Logo rejoindre une campagne" src="{{rootURL}}/images/logo-join-campaign.svg">
  <span class="pop-in-campagns-content__title">Vous avez un <span class="bold">code parcours ?</span></span>
</div>
<a class="pop-in-campagns__btn btn-primary" href="https://app.pix.fr/campagnes">Saisir mon code</a>
