<div class="content">
  <img alt="Logo rejoindre une campagne" class="logo" src="{{rootURL}}/images/logo-join-campaign.svg">
  <span class="title">Vous avez un <span class="bold">code parcours ?</span></span>
</div>
<a href="https://app.pix.fr/campagnes" class="btn-primary">Saisir mon code</a>
