.ember-burger-menu {

  &.translucent-overlay.is-open > .bm-outlet::after {
    opacity: 0;
  }

  & > .bm-outlet {

    & > .bm-content {
      background: none;
    }

    & > .bm-menu-container .bm-menu {
      position: fixed;
      height: calc(var(--vh, 1vh) * 100);
      overflow: hidden;
    }
  }

  .bm-menu {
    background: linear-gradient(134.72deg, $blue-2 0%, $blue-1 100%);
    width: 230px;
    z-index: 1000;
    transition: left .2s ease-out;
    position: fixed;
    padding: 0 25px;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    .bm-menu-item > a {
      display: block;
    }

  }

  .hamburger {

    .hamburger-box {
      width: 24px;
    }

    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
      width: 24px !important;
      height: 3px;
    }
  }
}

