body,
body > .ember-view,
html {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #222222;
}

* {
  box-sizing: border-box;
}

/* FORMS */
input {
  outline: none;
  border: none;
}

a {
  transition: all ease-in .1s;
  text-decoration: none;
}

hr {
  height: 2px;
  width: 36px;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}

h2 {
  margin-top: 40px;
  font-size: 24px;

  &::after {
    margin-top: 20px;
    display: block;
    width: 30px;
    height: 1px;
    background: #EEEEEE;
    content: ' ';
  }
}

h3 {
  color: #3D68FF;
  margin: 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

p {
  margin: 20px 0;
}

strong {
  font-weight: 600;
}

ul {
  margin: 20px 0;
  padding-left: 10px;

  li {
    padding-left: 15px;

    &::before {
      content: "● ";
      color: #3D68FF;
      margin-right: 5px;
    }
  }

  &.unstyled {
    padding-left: 0;

    & > li {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}

ol {
  margin: 20px 0;
  padding-left: 10px;

  li {
    padding-left: 15px;

    &::before {
      content: counter(item) ".";
      margin-right: 8px;
      color: #3D68FF;
      font-weight: 600;
    }
  }
}

.desktop {
  display: none !important;

  @media (min-width: 769px) {
    display: block !important;
  }
}

.mobile {
  display: block;

  @media (min-width: 769px) {
    display: none;
  }
}

