@import "./pages/competences";
@import "./pages/faq";
@import "./pages/index";
@import "./pages/jobs";
@import "./pages/organization";
@import "./pages/partners";
@import "./pages/simple-page";

.page {
  color: #222222;

  .page-header {
    height: 260px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #388AFF 0%, #985FFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .page-header__title {
      color: #FFFFFF;
      margin: 0;
      font-family: 'Raleway', Arial, sans-serif;
      font-size: 30px;
      line-height: 36px;
      font-weight: 200;
      text-align: center;

      @media (min-width: 600px) {
      }
      @media (min-width: 769px) {
      }
    }
  }

  .page-body {
    padding-top: 40px;
    padding-bottom: 40px;

    .page-section {
      padding: 20px;
    }
  }
}
