@import "./pages/faq";
@import "./pages/jobs";
@import "./pages/partners";

.page {
  color: #333333;

  .page-header {
    height: 260px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #388AFF 0%, #985FFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .page-header__title {
      color: #FFFFFF;
      margin: 0;
      font-family: 'Raleway', Arial, sans-serif;
      font-size: 36px;
      font-weight: 200;
    }
  }

  .page-body {
    width: 1120px;
    margin: 0 auto;
    padding: 40px 0;

    .page-section {
      padding: 20px;
    }
  }
}
