.faq-page {
  color: #333333;

  .faq-page-header {
    height: 260px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #388AFF 0%, #985FFF 100%);
    text-align: center;

    .faq-page-header__title {
      color: #FFFFFF;
      margin: 0;
      padding-top: 110px;
      font-family: 'Maven Pro', Arial, sans-serif;
    }
  }

  .faq-page-body {
    width: 1120px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
  }
}
