# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
/pix-site/build/
/pix-pro/build/
/pix-site/nginx.conf
/pix-pro/nginx.conf

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
