PRISMIC_API_ENDPOINT=<PRISMIC_API_ENDPOINT>
PRISMIC_API_TOKEN=<PRISMIC_API_TOKEN>

DOMAIN_FR=localhost:6001
DOMAIN_ORG=localhost:7001

GEOAPI_HOST=<GEOAPI_HOST>

SITE=pix-site

EASIWARE_SCRIPT_URL=<EASIWARE_SCRIPT_URL>

# Enable built-in image in application build with Nuxt Image
#
# presence: optional
# type: boolean
# default: false
IS_BUILTIN_IMAGES_ENABLED=false

############################
# Plausible configuration
############################

# Script configuration
# @see: https://plausible.io/docs/script-extensions
# presence: mandatory
# type: text
ANALYTICS_SCRIPT_URL=https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js

# Plausible site identifier
# @see: https://plausible.io/docs/add-website
# presence: optional
# type: text
ANALYTICS_SITE_ID=YOUR_SITE_ID
