.app-header {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);

  .app-header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 120px;
    width: 1120px;

    .app-logos {
      display: flex;
      align-items: center;

      .app-logo-pix {
        margin-right: 40px;

        .app-logo-pix__link {
          display: inline-block;

          .app-logo-pix__image {
            height: 80px;
          }
        }
      }

      .app-logo-marianne {

        .app-logo-marianne__image {
          height: 60px;
        }
      }
    }
  }
}
