.blog-post-detail {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(12,22,58,0.1), 0 3px 6px 0 rgba(0,0,0,0.1);

  .blog-post-detail__header {
    text-align: center;
    padding: 80px 0;

    .blog-post-detail__title {
      margin: 0 0 20px;
    }
  }

  .blog-post-detail__body {
    display: block;
    padding: 0 80px 80px;

    .block-img {
      text-align: center;
    }
  }
}
