.blog-post-detail {

  .blog-post-detail__header {
    text-align: center;
    padding: 80px 0 40px;

    .blog-post-detail__title {
      margin: 0 0 20px;
    }
  }

  .blog-post-detail__body {
    background-color: #FFFFFF;
    display: block;
    padding: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);

    .block-img {
      text-align: center;
    }
  }
}
