.faq-item {

  .faq-item__question {
    cursor: pointer;
    color: $blue-1;
  }

  .faq-item__answer {
    margin-bottom: 40px;
    line-height: 24px;

    p {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  &.closed {
    .faq-item__answer {
      display: none;
    }
  }

  &.opened {
    .faq-item__answer {
      display: block;
    }
  }
}
