.faq-menu {
  flex: 1;

  .faq-menu-entries {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .faq-menu-entry {
      margin-bottom: 20px;

      .faq-menu-entry__link {
        color: #666666;

        &.active {
          color: #000000;
          font-weight: 900;
        }
      }
    }
  }
}
