.faq-category {
  border-right: 1px solid #CCCCCC;
  padding-right: 60px;
  margin-right: 60px;
  flex: 3;

  .faq-category-title {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .faq-category-items {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .faq-category-item {
      margin-bottom: 40px;

      .faq-category-item__question {
        font-family: Lato, Arial, sans-serif;
        font-size: 18px;
        color: #3D68FF;
        margin: 0 0 10px;
      }

      .faq-category-item__answer {
        font-family: 'Open Sans', Arial, sans-serif;
        margin: 0 0 10px;
      }
    }
  }
}
