.faq-item {

  .faq-item__question {
    font-size: 18px;
    color: #3D68FF;
    margin: 0 0 16px;
    cursor: pointer;
    line-height: 24px;
  }

  .faq-item__answer {
    margin-bottom: 40px;
    line-height: 24px;

    p {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  &.closed {
    .faq-item__answer {
      display: none;
    }
  }

  &.opened {
    .faq-item__answer {
      display: block;
    }
  }
}
