.faq-category {
  border-bottom: 1px solid $grey-4;
  padding-bottom: 20px;
  margin-bottom: 40px;

  @include device-is('tablet') {
    border-bottom: none;
    border-right: 1px solid $grey-4;
    margin-right: 20px;
    padding-right: 20px;
    flex: 3;
  }


  .faq-category-title {
    margin-top: 0;
    font-size: 36px;
    line-height: 49px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .faq-category-items {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .faq-category-item {
      margin-bottom: 24px;
    }
  }
}
