.job-offer {

  .job-offer__title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 36px;
  }

  .job-offer__description {

    h2 {
      margin: 40px 0 10px;
      font-size: 20px;
      line-height: 27px;
    }

    h3 {
      margin: 24px 0 6px;
      font-size: 18px;
      line-height: 24px;
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      list-style: disc;
    }

    li {
      margin-left: 20px;
    }
  }
}
