.key-numbers {

  &__title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 36px;
    line-height: 49px;
    color: $grey-1;
  }
}

.key-number {

  &__item {
    margin-bottom: 30px;

    @include device-is('large-mobile') {
      width: 50%;
    }

    @include device-is('tablet') {
      width: 25%;
      margin-bottom: inherit;
    }
  }

  &__value {
    font-weight: 600;
    color: $blue-1;
    text-align: center;
    font-size: 36px;
    line-height: 65px;

    @media (min-width: 960px) {
      font-size: 42px;
    }

  }

  &__description {
    color: $grey-1;
    text-align: center;

    @include device-is('large-mobile') {
      font-size: 14px;
      line-height: 19px;
    }

    @include device-is('tablet') {
      font-size: 16px;
      line-height: 24px;
    }

  }
}
