.key-numbers {

    &__title {
        margin-top: 26px !important;
        margin-bottom: 60px;
        text-align: center;
        font-size: 36px;
        line-height: 49px;
        color: #222222;
    }

}