.multiple-column {

  margin:0 -10px;

  @include device-is('large-mobile') {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex-basis: 50%;
    margin: 0 10px;
  }

  .vertical_align_center {
    align-self: center;
  }
}
