.news-item {
  border-radius: 5px;
  border: 1px solid #dedede;

  &__header {

  }

  &__footer {
    background: none;
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 2rem;
    line-height: 1.5rem;
  }

  &__illustration {

  }

  &__category {

  }

  &__body {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
    }
  }
}
