.partners-school-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  .school-column-list {
    .school-column-item {
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}
