.page.competences {

  .container {
    max-width: 900px;
  }

  .page-header {
    padding: 0 20px;
  }

  .page-body {
    padding: 0;
  }

  .area {
    padding: 60px 0;

    &:nth-child(even) {
      background-color: #F5F5F5;
    }

    .area-title {
      font-size: 36px;
      line-height: 49px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    .competence {
      border-top: 1px solid #DDDDDD;
      padding-top: 40px;
      margin-bottom: 40px;

      .competence__title {
        font-weight: 400;
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 27px;
      }

      .competence__description {
        margin-bottom: 22px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
      }

      .competence__theme-title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 6px;
      }

      .competence__themes {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
      }
    }
  }
}
