.page.digital-mediation {
  color: #222222;

  h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.375rem;

    @media (min-width: 769px) {
      font-size: 2.875rem;
      line-height: 3.875rem;
    }
  }

  h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
    padding: 40px 0;

    @media (min-width: 769px) {
      padding-bottom: 10px;
    }
  }

  h3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin: 0 0 15px;
  }

  h4 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: normal;
    margin: 0 0 5px;
  }

  p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
    margin: 0 0 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 769px) {
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      margin: 0;
      padding: 0;
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      box-sizing: border-box;

      @media (min-width: 769px) {
        margin: 0;
      }

      &::before {
        content: "";
        margin: 0;
        padding: 0;
      }
    }
  }

  section {
    position: relative;

    @media (min-width: 769px) {
      padding: 60px 0 80px;
    }

    .features-wrapper {
      display: flex;
      flex-direction: column;

      @media (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .features {
        display: flex;
        flex-direction: column;

        @media (min-width: 769px) {
          max-width: 50%;

          &.features--left {
            margin-right: 15px;
          }
          &.features--right {
            margin-left: 15px;
          }
        }

        .feature {
          display: block;
          text-align: left;
          margin-bottom: 15px;

          @media (min-width: 769px) {
            margin-bottom: 0;
          }

          p {
            @media (min-width: 769px) {
              min-height: 140px;
            }
          }
        }
      }
    }

    .container-flex {
      display: flex;
      flex-direction: column;

      @media (min-width: 769px) {
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    .container-column {
      width: 50%;
    }

    &.hero {
      height: 395px;
      overflow: hidden;
      color: white;
      padding: 200px 0 100px;

      @media (min-width: 769px) {
        height: 520px;
        padding-top: 160px;
      }

      .background {
        position: absolute;
        background: linear-gradient(180deg, rgba(18, 163, 255, 0.8) 0, rgba(61, 104, 255, 0.8) 100%), url('/images/bg-hero-mednum.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        transform-origin: top left;
        transform: skewY(-3deg);
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media (min-width: 769px) {
          background: linear-gradient(180deg, rgba(18, 163, 255, 0.8) 0, rgba(61, 104, 255, 0.8) 100%), url('/images/bg-hero-mednum@2x.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
        }
      }

      .padding-container {
        padding: 0 10px;
      }

      h1 {

        @media (min-width: 769px) {
          max-width: 686px;
        }
      }

    }

    &.partnerships {

      h2 {
        margin-bottom: 30px;
      }

      .partners {

        .partner {
          @media (min-width: 769px) {
            margin: 0 60px;
          }

          img {
            height: 100px;
            margin-bottom: 10px;
          }
        }
      }

    }

    &.diagnostic {

      @media (min-width: 769px) {
        padding-top: 90px;
      }

      h2 {
        padding-bottom: 10px;
      }

      h3 {
        text-align: center;
        max-width: 760px;
        margin: 0 auto 60px;

        @media (min-width: 769px) {
          margin-bottom: 90px;
        }
      }

      .background {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #F5F5F5;
        transform: skewY(-3deg);
        transform-origin: bottom right;
      }
    }

    &.certification {
      color: white;
      height: 790px;

      .background {
        position: absolute;
        background: linear-gradient(135.25deg, #985FFF 0%, #388AFF 100%);
        transform: skewY(3deg);
        transform-origin: bottom right;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      h2 {
        text-align: left;
        padding-top: 0;
      }

      h4 {
        font-weight: 600;
      }

      p {
        font-weight: 400;
      }

      .features {
        display: flex;
        flex-direction: column;

        .feature {
          text-align: left;
          margin-top: 60px;
        }
      }

      .certification-illustration {
        background: url('/images/certif-illustration@2x.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 40px;
        height: 100%;
        width: 600px;
        max-width: 50%;
      }
    }

    &.prescription {
      margin-top: -90px;
      padding-bottom: 0;

      h2 {
        padding-bottom: 10px;
      }

      h3 {
        text-align: center;
        max-width: 760px;
        margin: 0 auto 60px;

        @media (min-width: 769px) {
          margin-bottom: 90px;
        }
      }

      .background {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        transform: skewY(-3deg);
        transform-origin: top left;
      }

    }

    &.abc-pix {
      padding: 0;
      /*margin-top: -90px;*/
      margin-bottom: 90px;

      img {
        display: block;
      }

      h2 {
        color: white;
        text-align: left;
        padding-top: 0;
        margin-bottom: 40px;
      }

      h4 {
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.875rem;
        font-weight: 400;
        margin-bottom: 40px;
        width: 430px;
      }

      .container-column {

      }

      .info {

        .info__body {
          padding-left: 74px;
        }
      }

      .info--experiment {
        &:before {
          position: absolute;
          display: inline-block;
          background: url('/images/experiment-results-icon.svg') no-repeat;
          content: ' ';
          width: 51px;
          height: 65px;
        }
      }

      .info--forthcoming {

        &:before {
          position: absolute;
          display: inline-block;
          background: url('/images/a-venir-icon.svg') no-repeat;
          content: ' ';
          width: 64px;
          height: 64px;
        }
      }

      /*
    .background {
      padding: 20px;
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .trapeze {
        position: relative;
        top: 200px;
        min-height: 200px;
        background: linear-gradient(to right, #FFBE00 0%, #FF9F00 100%);

        &:before {
          content: "";
          display: block;
          background: linear-gradient(to right, #FFBE00 0%, #FF9F00 100%);
          height: 200px;
          width: 100%;
          position: relative;
          z-index: 1;
          bottom: 100px;
          transform: skew(0, -5deg);
          border-radius: 20px;
        }

        &:after {
          content: "";
          display: block;
          background: linear-gradient(to right, #FFBE00 0%, #FF9F00 100%);
          height: 200px;
          width: 100%;
          position: relative;
          z-index: 1;
          top: 100px;
          transform: skew(0, 5deg);
          border-radius: 20px;
        }
      }
    }
      */

      & > .container {
        background: linear-gradient(to right, #FFBE00 0%, #FF9F00 100%);
        border-radius: 20px;
        padding: 70px;
        padding-bottom: 0;
      }

    }
  }

}
