$white: #ffffff;
$marigold: #ffbe00;
$charcoal-grey: #3e4149;
$font-semi-bold: 600;
$font-lato: 'Lato', Arial, sans-serif;

.page.index {

  .hero {
    transform-origin: top left;
    background: url('../images/background-hero-mobile-home.jpg') no-repeat;
    background-size: cover;
    padding: 60px 0;

    @media (min-width: 769px) {
      background: url('../images/background-hero-index.jpg') no-repeat;
      padding: 100px 0;
    }

    .hero__title {
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 300;
      font-size: 44px;
      line-height: 48px;
      text-shadow: 10px 12px 18px 0 rgba(0, 0, 0, 0.33);
      color: #222222;
      margin-bottom: 20px;

      @media (min-width: 769px) {
        font-size: 90px;
        line-height: 90px;
      }
    }

    .hero__subtitle {
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 300;
      color: #000000;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 40px;

      @media (min-width: 769px) {
      font-size: 28px;
      line-height: 38px;
      }
    }

    .hero__connection-button {
      text-align: center;

      @media (min-width: 769px) {
        text-align: left;
      }
    }
  }

  /* Demo courses
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .section-demo {
    background-color: #EEEEEE;
    padding: 60px 0;

    @media (min-width: 769px) {
      padding: 100px 80px;
    }

    .title {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
      font-family: Raleway, Arial, sans-serif;
      font-weight: 800;
      color: #4A4A4A;

      @media (min-width: 769px) {
        margin-bottom: 60px;
      }
    }

    .courses {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media (min-width: 769px) {
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .course {
        width: 220px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        background: #FFFFFF;
        font-family: Lato, Arial, sans-serif;
        border-radius: 5px;
        margin: 0 10px 20px;

        @media (min-width: 769px) {
          margin-bottom: 0;
        }

        .course__icon {
          height: 120px;
          margin-bottom: 20px;

          img {
            border-radius: 5px 5px 0 0;
            height: 100%;
            width: 100%;
          }
        }

        .course__title {
          color: #3E4149;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          font-family: Raleway, Arial, sans-serif;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .course__challenges {
          color: #7D808A;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .course__description {
          font-style: italic;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          margin-bottom: 20px;
          padding: 0 10px;
          color: #6A6D76;
          height: 54px;
        }

        .course__start-button {
          color: #3D68FF;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          background-color: #FAFAFA;
          height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 0 0 5px 5px;
          border-top: 1px solid #DDDDDD;

          a {
            color: inherit !important;
          }
        }
      }
    }
  }

  /* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  .section-features {
    background: #ffffff;
    padding: 60px 0;

    @media (min-width: 769px) {
      padding: 100px 80px;
    }

    .title {
      margin-bottom: 60px;
      font-size: 32px;
      text-align: center;
      font-family: Raleway, Arial, sans-serif;
      font-weight: 800;
      color: #4A4A4A;
    }

    .features {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      justify-content: center;
      flex-wrap: wrap;

      @media (min-width: 769px) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .feature {
        width: 220px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 10px 40px;

        @media (min-width: 769px) {
          margin: 0;
        }

        .feature__icon {
          height: 107px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
        }

        .feature__title {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 20px;
        }

        .feature__description {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .learn-more-button {
      text-align: center;
    }
  }

  /*
  .index-page-features {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .index-page-features__project-button {
      margin-top: 40px;
      border-radius: 20px;
      background-color: $marigold;
      text-transform: uppercase;
      color: $charcoal-grey;
      font-size: 12px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: $font-semi-bold;
      font-family: $font-lato;
      padding: 10px 30px;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $charcoal-grey;
      }

      @media (min-width: 600px) {
        font-size: 13px;
      }
    }
  }
  */
}
