@import "../components/job-offer";

.page.jobs {

  .link-to-back {
    display: inline-block;
    padding: 20px 0;
  }

  .jobs {

    .job {
      margin-bottom: 60px;

      .job__title {
        font-weight: 400;
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}
