.page.jobs {

  .link-to-back {
    display: inline-block;
    padding: 20px 0;
  }

  .job-list {

    .job-item {
      margin-bottom: 60px;

      .job__meta {
        padding: 20px 0;

        p {
          margin: 0;
        }
      }
    }
  }
}
