@import "../components/partners-school-list";

.page.partners {

  .page-section__title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 16px;
  }

  .page-section__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .page-section__organizations {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;

    .organization {

      .organization__link {
        display: inline-block;

        .organization__logo {
          width: 180px;
          margin: 20px 40px;
        }
      }
    }
  }
}
