.page.school-education {
  a {
    text-decoration: underline;
  }

  p {
    margin: 0;

    &.mb-1 {
      margin-bottom: 20px;
    }

    &.mb-5 {
      margin-bottom: 48px;
    }
  }

  h2 {
    margin-top: 0;

    &::after {
      display: none;
    }

    &.mt-2 {
      margin-top: 26px;
    }

    &.mt-3 {
      margin-top: 32px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .section {
    padding: 40px 0;

    &__header {
      margin-bottom: 60px;
      text-align: center;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 400;
      color: #222222;
      font-size: 36px;
      line-height: 49px;
      padding: 0 20px;
    }

    &__subtitle {
      color: #222222;
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      padding: 0 20px;
    }

    &__body {
      padding: 0 20px;
    }

    &.skewed {
      position: relative;
      padding: 60px 0;
      margin: 60px 0;

      @include device-is('tablet') {
        padding-bottom: 100px;
      }

      &:after {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: skewY(3deg);
      }

      &--negative {

        &:after {
          transform: skewY(-3deg);
        }
      }
    }
  }

  .feature-list {
    display: flex;
    flex-direction: column;

    @include device-is('tablet') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      grid-gap: 40px 100px;
      padding: 0 20px;
    }

    &.top {
      margin-bottom: 40px;
    }

    .feature {
      margin-bottom: 40px;

      @include device-is('tablet') {
        margin-bottom: 0;
      }

      &__title {
        color: #000000;
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
        margin-bottom: 6px;
      }

      &__body {
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  /* Hero image */

  .hero {
    position: relative;
    overflow: hidden;
    height: 395px;

    @include device-is('large-mobile') {
      padding: 121px 0 100px 50px;
      height: 395px;
    }
    @include device-is('tablet') {
      height: 540px;
      padding: 121px 0 100px 0;
    }

    h1 {
      padding: 40px 10px 3px 10px;

      @include device-is('large-mobile') {
        padding: 0;
      }
    }

    .container {
      text-align: left;

      a {
        margin-left: 10px;
        text-decoration: none;

        @include device-is('large-mobile') {
          margin-left: 0;
        }
      }
    }

    .block-pro {
      @include device-is('large-mobile') {
        width: 450px;
      }
      @include device-is('tablet') {
        width: 600px;
      }
    }

    .hero-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skewY(-3deg);
    }

    .gradient-sco {
      background: linear-gradient(-135deg, rgba(56, 138, 255, 0.7) 0%, rgba(152, 95, 255, 0.7) 100%), url('/images/background-hero-mobile-sco.jpg');
      transform-origin: top left;
      background-repeat: no-repeat;
      background-size: cover;

      @include device-is('large-mobile') {
        background: linear-gradient(-135deg, rgba(56, 138, 255, 0.7) 0%, rgba(152, 95, 255, 0.7) 100%), url('/images/background-hero-sco.jpg');
        transform-origin: top left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }

    .gradient-sup {
      background: linear-gradient(135deg, rgba(18, 163, 255, 0.7) 0%, rgba(61, 104, 255, 0.7) 100%), url('/images/background-hero-mobile-sup.jpg');
      transform-origin: top left;
      background-repeat: no-repeat;
      background-size: cover;

      @include device-is('large-mobile') {
        background: linear-gradient(135deg, rgba(18, 163, 255, 0.7) 0%, rgba(61, 104, 255, 0.7) 100%), url('/images/background-hero-sup.jpg');
        transform-origin: top left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }

    .gradient-pro {
      background: linear-gradient(46deg, rgba(13, 125, 196, 0.4) 0%, #213371 100%), url('/images/background-hero-mobile-pro.jpg');
      transform-origin: top left;
      background-repeat: no-repeat;
      background-size: cover;

      @include device-is('large-mobile') {
        background: linear-gradient(46deg, rgba(13, 125, 196, 0.4) 0%, #213371 100%), url('/images/background-hero-pro.jpg');
        transform-origin: top left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  /* Section infos */

  .section-infos {
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;

    @include device-is('large-mobile') {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include device-is('tablet') {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .container {
      text-align: center;

      .margin-bot {
        margin-bottom: 22px;

        @include device-is('large-mobile') {
          margin-bottom: 32px;
        }
      }
    }

    .mb-3 {
      margin-bottom: 5px;

      @include device-is('large-mobile') {
        margin-bottom: 32px;
      }
    }

    .column {
      width: 100%;
      margin-bottom: 36px;

      @include device-is('tablet') {
        margin-bottom: 0;
        width: 33.33%;
        text-align: center;

        p {
          padding: 0 40px;
        }
      }
    }

    .mobile {
      width: 100%;
    }

    .justify {
      justify-content: space-evenly;
    }
  }

  /* Section mesurer SCO & SUP */

  .section-mesurer {
  }

  /* Section mesurer PRO */

  .section-mesurer-pro {
    position: relative;
    padding: 70px 20px 40px;

    @include device-is('large-mobile') {
      padding-left: 0;
      padding-right: 0;
    }
    @include device-is('tablet') {
      padding-top: 80px;
      padding-bottom: 140px;
    }

    .mb-6 {
      margin-bottom: 36px;
      @include device-is('large-mobile') {
        margin-bottom: 60px;
      }
    }

    h3 {

      @include device-is('large-mobile') {
        padding: 0 90px;
      }
      @include device-is('tablet') {
        padding: 0 0;
      }
    }

    .hero-background {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      transform: skewY(-3deg);
      transform-origin: bottom right;
    }

    .container {
      display: flex;
      flex-flow: column;

      @include device-is('large-mobile') {
        flex-flow: row wrap;
      }
    }

    .column {
      width: 100%;

      @include device-is('large-mobile') {
        width: 50%;
        padding: 0 38px;
      }
      @include device-is('tablet') {
        padding: 0 50px;
      }
    }
  }

  /* Section developper SCO & SUP */

  .section-developper {

    &.skewed {
      padding-top: 120px;
      padding-bottom: 180px;
      margin-bottom: 0;
    }

    &:after {
      background: linear-gradient(135.25deg, #388AFF 0%, #985FFF 100%);
    }

    .section-developper__illustration {
      display: none;

      @include device-is('tablet') {
        display: inline-block;
      }

      & > img {
        height: 580px;
      }
    }

    .section-developper__text {
      max-width: 600px;
      padding: 0;

      @include device-is('tablet') {
        display: inline-block;
        padding: 0 40px;
      }
    }

    .section__header {
      margin-bottom: 40px;
    }

    .section__title {
      color: #ffffff;
      text-align: left;
    }

    .feature-list {
      display: flex;
      flex-direction: column;

      @include device-is('tablet') {
        padding: 0;
      }

      .feature {
        margin-bottom: 24px;

        &__title {
          font-weight: 500;
          color: #ffffff;
        }

        &__body {
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
  }

  /* Section Agenda */

  .section-agenda {

    &.skewed {
      margin-top: -60px;
      padding-top: 140px;
    }

    &:after {
      background-color: $grey-3;
    }

    .steps {
      max-width: 760px;
      margin: 0 auto 60px;
    }

    .step {
      position: relative;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 20px;

      @include device-is('tablet') {
        padding: 20px 100px;
      }

      &__date {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      &__body {
        font-size: 15px;
        line-height: 24px;
      }
    }
  }

  /* Section Valoriser */

  .section-valoriser {

    &.skewed {
      margin-top: -140px;
      padding-top: 140px;
      padding-bottom: 0;

      &:after {
        transform-origin: top left;
        background: #FFFFFF;
      }
    }

    .certification-video {
      text-align: center;
      margin-bottom: 40px;

      iframe {
        max-width: 100%;

        @include device-is('tablet') {
          width: 480px;
          height: 270px;
        }
      }
    }
  }

  /* Section Utiliser Pix */

  .section-utiliser-pix {
    position: relative;
    background: linear-gradient(180deg, rgba(18, 163, 255, 0.9) 0%, rgba(61, 104, 255, 0.9) 100%), url('/images/background-utiliser-pix.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 70px;

    .container {
      display: flex;
      flex-flow: row wrap;
    }

    .column {
      width: 100%;
      padding: 0 20px;

      @include device-is('large-mobile') {
        width: 25%;
        padding: 0 38px;
      }
      @include device-is('tablet') {
        padding: 0 20px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 48px;

        @include device-is('large-mobile') {
          margin-bottom: 0;
        }
      }
    }

  }

  /* Section Comment ça marche */

  .section-comment-ca-marche {
    position: relative;
    background: url('/images/background-comment-ca-marche.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 108px;

    .container {
      display: flex;
      flex-flow: row wrap;
    }

    .inner {
      padding: 60px 22px;
      background-color: white;
      min-height: 300px;
      border-radius: 10px;
      box-shadow: 0 15px 16px 0 rgba(12, 22, 58, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }

    .column {
      width: 100%;
      padding: 0 20px;

      @include device-is('large-mobile') {
        width: 33.33%;
        padding: 0 10px;
      }
      @include device-is('tablet') {
        padding: 0 10px;
      }
    }

    .column:nth-child(1),
    .column:nth-child(2) {
      margin-bottom: 48px;

      @include device-is('large-mobile') {
        margin-bottom: 0;
      }
    }
  }

  /* Section Pix */

  .section-pix {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    @include device-is('tablet') {
      padding-top: 60px;
      padding-bottom: 116px;
    }

    .container {
      display: flex;
      flex-flow: column;

      @include device-is('large-mobile') {
        flex-flow: row wrap;
      }
    }

    .column {
      margin-bottom: 30px;

      @include device-is('large-mobile') {
        width: 50%;
      }
      @include device-is('tablet') {
        width: 20%;
        margin-bottom: inherit;
      }
    }
  }

  /* Section collaborateurs */

  .section-collaborateurs {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(132.01deg, #388AFF 0%, #5427AB 100%);

    @include device-is('tablet') {
      padding-left: 0;
      padding-right: 0;
      padding-top: 150px;
      padding-bottom: 150px;
    }

    .container {
      display: flex;
      flex-flow: column;

      @include device-is('large-mobile') {
        flex-flow: row wrap;
        align-items: center;
      }
    }
  }

  /* Section Confiance */

  .section-confiance {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $grey-3;

    @include device-is('tablet') {
      padding-top: 60px;
      padding-bottom: 116px;
      padding-left: 0;
      padding-right: 0;
    }

    .block {
      text-align: center;
      margin-bottom: 30px;

      @include device-is('large-mobile') {
        margin-bottom: 0;
      }

      .box-1 {
        width: 117px;
        height: 100px;
      }

      .box-2 {
        width: 172px;
        height: 45px;
      }

      .box-3 {
        width: 183px;
        height: 58px;
      }

      .box-4 {
        width: 147px;
        height: 148px;
      }

      .box-5 {
        width: 146px;
        height: 148px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .container {
      display: flex;
      flex-flow: column;

      @include device-is('large-mobile') {
        flex-flow: row wrap;
        align-items: center;
      }
    }

    .column {
      margin-bottom: 30px;

      @include device-is('large-mobile') {
        width: 50%;
      }

      @include device-is('tablet') {
        width: 20%;
        margin-bottom: inherit;
      }
    }
  }

  /* Section Pourquoi Pix */

  .section-pourquoi-pix {

    &:after {
      background-color: $grey-3;
    }
  }

}
