.stats-page {

  section {
    margin-bottom: 60px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  b {
    font-weight: bold;
    color: $blue-1;
  }

  canvas {
    margin: 40px 0;
  }
}
