.page.terms-of-service {

  h2 {
    margin-top: 40px;
    font-size: 24px;

    &::after {
      margin-top: 20px;
      display: block;
      width: 30px;
      height: 1px;
      background: #EEEEEE;
      content: ' ';
    }
  }

  h3 {
    color: #3D68FF;
    margin: 20px 0;
    font-weight: 600;
  }

  p {
    margin: 20px 0;
  }

  strong {
    font-weight: 600;
  }

  ul {
    padding-left: 10px;

    li {
      padding-left: 15px;

      &::before {
        content: "● ";
        color: #3D68FF;
        margin-right: 5px;
      }
    }
  }

  ol {
    padding-left: 10px;

    li {
      padding-left: 15px;

      &::before {
        content: counter(item) ".";
        margin-right: 8px;
        color: #3D68FF;
        font-weight: 600;
      }
    }
  }
}
