<main class="app-page">

  <header class="app-page__header">
    <h1 class="app-page__title">Annonces, nouvelles et articles techniques de l'équipe PIX.</h1>
  </header>
  {{blog-post-list posts=model}}
</main>