@mixin colorizeButton($fontColor, $borderColor, $bgColor, $hoverBgColor, $hoverFontColor) {
  color: $fontColor;
  border-color: $borderColor;
  background-color: $bgColor;

  &:hover {
    cursor: pointer;
    background-color: $hoverBgColor;
    color: $hoverFontColor !important;
  }
}

.button {
  font-family: $font-roboto;
  font-size: 1rem;
  height: 44px; width: 280px;
  padding: 0 20px;
  border: 1.5px solid transparent;
  border-radius: 4px;
  margin: 0 auto;


  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease;

  @include colorizeButton($white, transparent, $blue, $blue-hover, $white);

  &.button-video {
    @include colorizeButton($grey-80, $grey-80, $white, $grey-20, $grey-80);
    svg { margin-right: 10px; }
  }

  &--oval {
    border-radius: 20px;
    border: 1px solid;
    padding: 0 25px;
    height:40px;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;

    @include colorizeButton($blue, $blue, $white, $blue, $white);
  }

  &--light {
    @include colorizeButton($grey-80, transparent, $yellow, $white, $grey-80);

    &:hover {
      @include colorizeButton($grey-80, transparent, $yellow, $yellow, $grey-80);
    }

    &:active,
    &:focus {
      @include colorizeButton($grey-80, transparent, $yellow, $yellow, $grey-80);
    }

    &.button-video {
      svg { margin-right: 10px; }
      @include colorizeButton($white, $white, transparent, transparent, $white);

      &:hover {
        @include colorizeButton($white, $white, transparent, $blue, $white);
      }

      &:active,
      &:focus {
        @include colorizeButton($white, $white, transparent, $blue-hover, $white);
      }
    }
  }

  &--dark {
    @include colorizeButton($white, transparent, $blue, $blue-hover, $white);

    &.button-video {
      svg { margin-right: 10px; }
      @include colorizeButton($grey-80, $grey-80, $white, $grey-20, $grey-80);
    }
  }
}


@include device-is('tablet') {
  .button {
    width: initial;
  }
}
