body,
body > .ember-view,
html {
  padding: 0;
  margin: 0;
  font-family: $font-open-sans;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: $grey-45;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

/* FORMS */
input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

a {
  transition: all ease-in .1s;
  text-decoration: none;
}

hr {
  height: 2px;
  width: 36px;
  border: 2px solid $white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}

h2 {
  margin-top: 60px;
  font-size: 1.75rem;
  line-height: 32px;
  
  @include device-is('tablet') {
    font-size: 2rem;
  }
}

h3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

p {
  margin: 10px 0 20px;
}

strong {
  font-weight: 600;
}

ul {
  margin: 20px 0;
  padding-left: 10px;

  li {
    padding-left: 15px;

    &::before {
      content: "â— ";
      color: $blue;
      margin-right: 5px;
    }
  }

  &.unstyled {
    padding-left: 0;

    & > li {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }
}

ol {
  margin: 20px 0;
  padding-left: 10px;

  li {
    padding-left: 15px;

    &::before {
      content: counter(item) ".";
      margin-right: 8px;
      color: $blue;
      font-weight: 600;
    }
  }
}

.desktop {
  display: none !important;

  @include device-is('desktop') {
    display: block !important;
  }
}

.desktop-inline {
  display: none;

  @include device-is('desktop') {
    display: inline;
  }
}

.tablet {
  display: block;

  @include device-is('desktop') {
    display: none;
  }
}

.mobile {
  display: block;

  @include device-is('tablet') {
    display: none;
  }
}

.cc-message {
  font-size: 15px;
}
