# Site name
SITE=pix-site

# Site domain (FR or ORG)
SITE_DOMAIN=FR

# Domains configuration
DOMAIN_FR=localhost:6001
DOMAIN_ORG=localhost:7001

# Prismic API for client
PRISMIC_API_ENDPOINT_URL=
PRISMIC_API_TOKEN=

# GeoAPI
GEOAPI_HOST=
NGINX_GEOAPI_UPSTREAM_HOST=

# Analytics (required)
ANALYTICS_SCRIPT_URL=https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js
ANALYTICS_SITE_ID=SITE_ID

# Easiware (legacy - to remove)
EASIWARE_SCRIPT_URL=<EASIWARE_SCRIPT_URL>
