<div class="page news-show">

  <div class="page-banner-layout">
    <div class="page-banner"></div>

    <div class="container padding-container page-banner-content">
      <NewsItemPost @newsItem={{model}}/>
    </div>
  </div>

</div>
