<div class="page faq">

  <header class="page-header">
    <h1 class="page-header__title">Foire aux questions</h1>
  </header>

  <main class="page-body container flex padding-container">
      {{faq-category faqCategory=model.faqCategory faqItems=model.faqItems}}
      {{faq-menu document=model.faqMenu}}
  </main>

</div>

