<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Demande d’information
      </h1>
    </div>
  </header>
  <!-- eu.123formbuilder.com script begins here --><script type="text/javascript" defer src="//eu.123formbuilder.com/embed/24665.js" data-role="form" data-default-width="650px"></script><!-- eu.123formbuilder.com script ends here -->
</div>
