<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Demande d’inscription d’un établissement d’enseignement supérieur
      </h1>
    </div>
  </header>

  <!-- https://app.getformable.com/forms/edit/232abcb8-cb85-4793-b535-2785e010c60a -->
  <div id="formable-root" class="container sm padding-container"></div>
  <script async type="text/javascript" src="https://app.getformable.com/static/embed.js"></script>
  <script type="text/javascript">
    if (!window.formableForms) { window.formableForms = []; }
    window.formableForms.push({ key: '232abcb8-cb85-4793-b535-2785e010c60a' });
  </script>
</div>
