<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Demande d’espace Pix Orga
      </h1>
    </div>
  </header>
  <!-- eu.123formbuilder.com script begins here --><script type="text/javascript" defer src="//eu.123formbuilder.com/embed/22367.js" data-role="form" data-default-width="650px"></script><!-- eu.123formbuilder.com script ends here -->
  <div class="container sm padding-container form-legal-notices">
    <p>
      Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Pix pour
      permettre de vous recontacter en vue de vous donner accès au service offert par Pix. Elles sont conservées
      pendant un an et sont destinées à Pix exclusivement. Elles ne sont pas communiquées à des tiers. Conformément à
      la loi «&nbsp;informatique et libertés&nbsp;», vous pouvez exercer votre droit d’accès aux données vous concernant et les
      faire rectifier en envoyant un mail à <a href="mailto:dpo@pix.fr">dpo@pix.fr</a>.
    </p>
  </div>
</div>
