<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Inscription d’une organisation au service PIX Orga
      </h1>
    </div>
  </header>

  <!-- https://app.getformable.com/forms/edit/af0eed67-bee6-4e4c-8a1f-062e48b11136 -->
  <div id="formable-root" class="container sm padding-container"></div>
  <script async type="text/javascript" src="https://app.getformable.com/static/embed.js"></script>
  <script type="text/javascript">
    if (!window.formableForms) { window.formableForms = []; }
    window.formableForms.push({ key: 'af0eed67-bee6-4e4c-8a1f-062e48b11136' });
  </script>
</div>
