<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Suivre l’actualité du service PIX Orga
      </h1>
    </div>
  </header>

  <!-- https://app.getformable.com/forms/edit/e732a99e-4800-4169-b512-e1e6bdb6a813 -->
  <div id="formable-root--pix-orga-newsletter-subscription" class="container sm padding-container"></div>
  <script async type="text/javascript" src="https://app.getformable.com/static/embed.js"></script>
  <script type="text/javascript">
    if (!window.formableForms) { window.formableForms = []; }
    window.formableForms.push({
      key: 'e732a99e-4800-4169-b512-e1e6bdb6a813',
      mountOn: '#formable-root--pix-orga-newsletter-subscription'
    });
  </script>
  <div class="container sm padding-container">
    <p class="form-legal-notices">
      Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Pix pour permettre de vous recontacter en vue de vous donner accès au service offert par Pix. Elles sont conservées pendant un an et sont destinées à Pix exclusivement. Elles ne sont pas communiquées à des tiers. Conformément à la loi «&nbsp;informatique et libertés&nbsp;», vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en envoyant un mail à <a href="mailto:dpo@pix.fr">dpo@pix.fr</a>.
    </p>
  </div>
</div>
