<div class="page formable-page">
  <header class="page-header">
    <div class="container sm padding-container">
      <h1 class="page-header__title">
        Inscription d’un établissement scolaire
      </h1>
    </div>
  </header>

  <!-- https://app.getformable.com/forms/edit/476969f0-64e9-4e1a-80f3-96fd7406c129 -->
  <div id="formable-root--school-education-establishement-registration" class="container sm padding-container"></div>
  <script async type="text/javascript" src="https://app.getformable.com/static/embed.js"></script>
  <script type="text/javascript">
    if (!window.formableForms) {window.formableForms = [];}
    window.formableForms.push({
      key: '476969f0-64e9-4e1a-80f3-96fd7406c129',
      mountOn: '#formable-root--school-education-establishement-registration'
    });
  </script>
</div>