// primary
$blue: #3d68ff;
$blue-zodiac: #505f79;
$white: #ffffff;

// secondary
$blue-hover: darken($blue, 12%);
$dark-blue-pro: #1a38a0;
$green-certif: #1a8c89;
$dark-orga: #0095c0;
$orga: #00ddff;
$green: #038a25;
$green-hover: darken($green, 4%);
$red: #d63f00;
$red-hover: darken($red, 4%);
$yellow: #ffbe00;
$yellow-hover: lighten($yellow, 12%);
$light-blue: #388aff;
$pure-orange: #f45c00;

// gradients
$blue-gradient: linear-gradient(135deg, #12a3ff 0%, #3d68ff 100%);
$default-gradient: linear-gradient(91.59deg, #3d68ff 0%, #8845ff 100%);
$green-gradient: linear-gradient(0deg, #52d987 0%, #1a8c89 100%);
$pix-orange-gradient: linear-gradient(180deg, #f24645 0%, #f1a141 100%);
$pix-orga-gradient: linear-gradient(134deg, #00ddff 0%, #0095c0 100%);
$pix-orga-old-gradient: linear-gradient(0deg, #0d7dc4 0%, #213371 100%);
$pix-pink-gradient: linear-gradient(135deg, #ff3f93 0%, #ac008d 100%);
$pix-purple-gradient: linear-gradient(180deg, #5e2563 0%, #564da6 100%);
$yellow-gradient: linear-gradient(180deg, #fedc41 0%, #f45c00 100%);

// light
$grey-5: #fafbfc;
$grey-10: #f4f5f7;
$grey-15: #eaecf0;
$grey-20: #dfe1e6;
$grey-22: #c1c7d0;
$grey-25: #a5adba;

// medium
$grey-30: #97a0af;
$grey-35: #8993a4;
$grey-40: #7a869a;
$grey-45: #6b778c;
$grey-50: #5e6c84;
$grey-60: #505f79;

// dark
$grey-70: #344563;
$grey-80: #253858;
$grey-90: #172b4d;
$grey-100: #091e42;
$grey-200: #07142e;

// solids
$environment-dark: #5e2563;
$environment-light: #564da6;
$communication-dark: #3d68ff;
$communication-light: #12a3ff;
$content-dark: #1a8c89;
$content-light: #52d987;
$information-dark: #f24645;
$information-light: #f1a141;
$security-dark: #ac008d;
$security-light: #ff3f94;

// status
$error: #ff4b00;
$light-red: lighten($error, 8%);
$dark-error: darken($error, 8%);
$success: #57c884;
$warning: #ffbe00;

// box shadows
$box-shadow-competence-cards: 0 3px 4px 0 rgba(12, 22, 58, 0.1),
  0 1px 3px 0 rgba($grey-200, 0.1);
$box-shadow-competence-cards-hover: 0 7px 14px 0 rgba(12, 22, 58, 0.2),
  0 3px 6px 0 rgba($grey-200, 0.2);

$shadow-xs: 0 4px 8px rgba(7, 20, 46, 0.08);
