$grey-1: #222222;
$grey-2: #555555;
$grey-3: #F5F5F5;
$grey-4: #CCCCCC;
$grey-5: #666666;
$grey-6: #444444;
$grey-7: #DDDDDD;
$grey-8: #96a0af;

$blue-1: #3D68FF;
$blue-2: #12A3FF;
$blue-3: #3257D9;
$blue-4: #388AFF;

$purple-1: #985FFF;

$pix-yellow: #ffcb00;

$black: #000000;
$white: #FFFFFF;

$gradient-purple: linear-gradient(135.25deg, $blue-4 0%, $purple-1 100%);
