.container {
  max-width: 1140px;
  margin: 0 auto;

  &.flex {
    display: flex;
    flex-direction: column;

    @include device-is('tablet') {
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .child {
      flex: 1;
    }
  }

  &.sm {
    max-width: 600px;
  }

  &.md {
    max-width: 900px;
  }

  &.padding-container {
    padding: 0 20px;
  }
}

.row-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a a a"
    "b b b b";
  grid-gap: 16px;

  font-family: $font-open-sans;
  padding: 64px 0;
  margin: 0 16px;

  & > * {
    max-width: 100%;
    justify-self: center;
  }

  .row-block__left-content  { grid-area: a; }
  .row-block__right-content { grid-area: b; }

  &--reverse {
    grid-template-areas:
      "b b b b"
      "a a a a";
  }
}

@include device-is('tablet') {
  .row-block {
    margin: 0 32px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'a a a a a a a a'
      'b b b b b b b b';

    &--reverse {
      grid-template-areas:
        'b b b b b b b b'
        'a a a a a a a a';
    }
  }
}

@include device-is('desktop') {
  .row-block {
    margin: 0 32px;
    grid-template-areas:
      "a a a a . b b b";

    &--reverse {
      grid-template-areas:
        "b b b . a a a a";
    }
  }
}

@include device-is('large-screen') {
  .row-block {
    max-width: 1920px;
    margin: 0 auto;
    grid-template-columns: 1.2fr repeat(12, 1fr) 1.2fr;
    grid-template-areas:
      ". a a a a a a . b b b b b .";
    grid-gap: 24px;

    &--reverse {
      grid-template-areas:
        ". b b b b b . a a a a a a .";
    }
  }
}

.row-block .row-block__right-content.row-block-right-content__background {
  grid-column-start: b-start;
  grid-column-end: b-end;

  @include device-is('large-screen') {
    grid-column-start: 10;
    width: 100%;
  }
}

.row-block .row-block__right-content.row-block-right-content__image {
  grid-column-start: b-start;
  grid-column-end: b-end;

  @include device-is('large-screen') {
    justify-self: flex-start;
  }
}

.row-block.row-block--reverse .row-block__right-content.row-block-right-content__background {
  grid-column-start: b-start;
  grid-column-end: b-end;

  @include device-is('large-screen') {
    grid-column-end: 6;
    width: 100%;
  }
}

.row-block.row-block--reverse .row-block__right-content.row-block-right-content__image {
  grid-column-start: b-start;
  grid-column-end: b-end;

  @include device-is('large-screen') {
    justify-self: flex-end;
  }
}
