.mb-0 {
  margin-bottom: 6px;
}

.mb-0-1 {
  margin-bottom: 12px;
}

.mb-0-2 {
  margin-bottom: 16px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 26px;
}

.mb-3 {
  margin-bottom: 32px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 48px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 72px;
}

.mt-0 {
  margin-bottom: 6px;
}

.mt-0-1 {
  margin-top: 12px;
}

.mt-0-2 {
  margin-top: 16px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 26px;
}

.mt-3 {
  margin-top: 32px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 48px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 72px;
}

