<div class="error">
  <img class="logo" src="{{rootUrl}}/images/pix-logo.svg" />
  <h1>Oups ! Un problème est survenu, mais pas de panix, nous revenons très vite !</h1>
  <p>Pour en savoir plus, vous pouvez consulter <a href="http://status.pix.fr/">cette page</a> ou aller sur nos réseaux sociaux : <a href="https://twitter.com/Pix_officiel">Twitter</a>, <a href="https://www.facebook.com/Pix1024/" >Facebook</a>, <a href="https://www.linkedin.com/company/gip-pix/">LinkedIn</a>.</p>
  <p>Si vous avez besoin d’aide, vous pouvez également contacter le support <a href="mailto:contact@pix.fr">icix</a>.</p>
</div>
