<div class="page competences">

  <header class="page-header">
    <div class="container md padding-container">
      <h1 class="page-header__title">
        Retrouvez les 5 domaines de compétences que Pix souhaite évaluer, en accord avec le référentiel européen DIGCOMP.
      </h1>
    </div>
  </header>

  <main class="page-body">
    {{#each model as |area index|}}
      <section class="area">
        <div class="container md padding-container">
          <h2 class="area-title">{{area.title}}</h2>

        {{#each area.competences as |competence|}}
          <div class="competence">
            <h3 class="competence__title">{{competence.title}}</h3>
            <p class="competence__description">{{competence.description}}</p>
            <h4 class="competence__theme-title">Thématiques associées</h4>
            <p class="competence__themes">{{competence.themes}}</p>
          </div>

        {{/each}}
        </div>
      </section>
    {{/each}}
  </main>

</div>
