<div class="page digital-mediation">

  <section class="hero">
    <div class="background"></div>
    <div class="container padding-container">
      <h1>Facilitez l’accompagnement de vos publics vers l'autonomie numérique.</h1>
      {{#link-to 'formable-pages.contact-digital-mediation' class="btn"}}<span>Contactez-nous</span>{{/link-to}}
    </div>
  </section>

  <section class="partnerships">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Médiateurs, professionnels de l’action sociale, acteurs associatifs, acteurs des politiques d’inclusion numérique… c’est par ici !</h2>
      <ul class="partners">
        <li class="partner">
          <img src="{{rootURL}}/images/logo-mission-numerique@2x.png" alt="">
          <p>Pix est partie prenante du Plan d’action national pour un Numérique inclusif du Secrétariat d’État au Numérique.</p>
        </li>
        <li class="partner">
          <img src="{{rootURL}}/images/logo-pic@2x.jpg" alt="">
          <p>Pix est partenaire du Plan d’Investissement dans les Compétences porté par le Ministère du Travail.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="diagnostic">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Utilisez Pix pour accompagner vos publics</h2>
      <h3>En autonomie ou accompagnés, vos publics peuvent diagnostiquer leur niveau de maîtrise du numérique.</h3>
      <div class="features-wrapper">
        <ul class="features features--left">
          <li class="feature">
            <h4>Faire le point sur les compétences numériques…</h4>
            <p>Les personnes que vous accompagnez peuvent créer gratuitement leur compte personnel sur pix.fr et découvrir leur niveau dans 16 compétences, réparties dans 5 grands domaines.</p>
          </li>
          <li class="feature">
            <h4>… quel que soit le niveau de l’utilisateur</h4>
            <p>Les questions posées s'adaptent au niveau de l’utilisateur. Réponse après réponse, il bénéficie d'une expérience personnalisée et adaptée pour maintenir sa motivation et valoriser ses acquis.</p>
          </li>
        </ul>
        <ul class="features features--right">
          <li class="feature">
            <h4>Se tester de façon ludique</h4>
            <p>Défis, cas pratiques, environnement immersif : les épreuves ludiques, orientées sur la pratique, stimulent leur envie d'apprendre. Chaque bonne réponse permet de gagner des pix qui alimentent leur score sur un total de 1024 pix.</p>
          </li>
          <li class="feature">
            <h4>Développer des compétences clés du XXIe siècle</h4>
            <p>Sur Pix, l’utilisateur développe des compétences numériques essentielles en milieu professionnel comme dans la vie quotidienne : recherches en ligne, manipulation de fichiers et de données, culture numérique… Des tutoriels et des cours en ligne lui permettent de progresser.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="certification">
    <div class="background"></div>
    <div class="container flex padding-container">
      <div class="container-column">

        <h2>Valorisez <br class="desktop-inline"> les compétences numériques</h2>
        <h3>Proposez la certification Pix pour valoriser leurs acquis</h3>
        <ul class="features">
          <li class="feature">
            <h4>Une certification officielle</h4>
            <p>La certification Pix relève du Cadre de référence des compétences numériques, décliné du référentiel européen DigComp. Elle est inscrite à l'inventaire de la CNCP.</p>
          </li>
          <li class="feature">
            <h4>Incontournable sur le CV</h4>
            <p>Reconnue par l’État et le monde professionnel, la certification Pix est un atout pour la recherche de stage, l’insertion et la mobilité professionnelle.</p>
          </li>
        </ul>
      </div>
      <div class="container-column">
        <div class="certification-illustration">
        </div>
      </div>
    </div>
  </section>

  <section class="prescription">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Facilitez votre accompagnement avec Pix Orga</h2>
      <h3>Identifiez précisément les difficultés numériques de vos publics</h3>
      <div class="features-wrapper">
        <ul class="features features--left">
          <li class="feature">
            <h4>L’outil de diagnostic des compétences numériques</h4>
            <p>Pix Orga est un espace numérique dédié à votre structure pour mieux connaître les compétences numériques des personnes que vous accompagnez en les évaluant sur des compétences ciblées par vos équipes parmi les 16 compétences de notre référentiel.</p>
          </li>
          <li class="feature">
            <h4>Un état des lieux précis</h4>
            <p>Lancez des campagnes d’évaluation pour cibler les besoins de vos publics, accédez à des statistiques détaillées sur le niveau individuel et collectif sur chaque compétence.</p>
          </li>
        </ul>
        <ul class="features features--right">
          <li class="feature">
            <h4>Accompagnez vos publics sur les compétences identifiées</h4>
            <p>A partir des résultats, vous pourrez détecter les difficultés de vos publics et leur proposer un accompagnement adapté à leurs besoins de formation.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="abc-pix">
    <div class="container padding-container">
      <div class="trapeze">
        <img src="{{rootURL}}/images/ABCPix.svg" alt="">
        <h2>Pix au service de l’inclusion numérique</h2>
        <div class="container flex">
          <div class="container-column">
            <p>Pix et la Mission Société Numérique vont déployer le test “ABC Pix” : il permettra aux professionnels (intervenants sociaux, médiateurs numériques, etc.) de mieux connaître et accompagner les personnes en difficulté sur le chemin de l’autonomie numérique, éventuellement jusqu’à l’obtention de la certification Pix.</p>
            <p>Un test “ABC Diag” sera également mis en place pour le diagnostic rapide des compétences numériques de base.</p>
          </div>
          <div class="container-column">
            <div class="info info--experiment">
              <div class="info__body">
                <h4>En expérimentation !</h4>
                <p>Les tests ABC Pix et ABC Diag sont actuellement expérimentés dans les Pyrénées-Atlantiques, par le syndicat mixte La Fibre 64 et le Greta Sud-Aquitaine, ainsi que dans les départements de la Drôme et de l'Ardèche par le syndicat mixte Inforoutes.</p>
              </div>
            </div>
            <div class="info info--forthcoming">
              <div class="info__body">
                <h4>À venir...</h4>
                <p>Pix a vocation à être intégré au déploiement du Pass numérique pour donner les moyens à leurs commanditaires (collectivités, administrations, fondations, entreprises…) d’offrir au bénéficiaire une expérience personnalisée et valorisante. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
