<main class="faq-page">

  <header class="faq-page-header">
    <h1 class="faq-page-header__title">Nous sommes à votre service</h1>
    {{faq-searchbar}}
  </header>

  <section class="faq-page-body">
    {{outlet}}
  </section>

  <footer class="faq-page-footer">
  </footer>

</main>
