<main class="page faq">

  <header class="page-header">
    <h1 class="page-header__title">Foires aux questions</h1>
  </header>

  <div class="page-body">
    {{outlet}}
  </div>

  <footer class="page-footer">
  </footer>

</main>
