<main class="page page--faq">

  <header class="page-header">
    <h1 class="page-header__title">Foires aux questions</h1>
  </header>

  <section class="page-body">
    {{outlet}}
  </section>

  <footer class="page-footer">
  </footer>

</main>
