<main class="page jobs">

  <header class="page-header">
    <h1 class="page-header__title">PIX recrute !</h1>
  </header>

  <div class="page-body">
    {{outlet}}
  </div>

  <footer class="page-footer">
  </footer>

</main>
