<div class="page jobs">

  <header class="page-header">
    <h1 class="page-header__title">PIX recrute !</h1>
  </header>


  <main class="page-body container padding-container">
    {{outlet}}
  </main>

</div>
