<div class="page partners">

  <header class="page-header">
    <div class="container padding-container">
      <h1 class="page-header__title">
        {{as-text model.data.page_title}}
      </h1>
    </div>
  </header>

  <div class="page-body">

    <section class="page-section section-schools">
      <div class="container padding-container">
        <h2 class="page-section__title">{{as-text model.data.schools_section_title}}</h2>
        {{#unless (is-empty model.data.organizations_section_description)}}
          <div class="page-section__description">
            {{{as-html model.data.schools_section_description}}}
          </div>
        {{/unless}}
        <div class="page-section__schools">
          {{partners-school-list documents=model.data.schools}}
        </div>
        <div style="text-align:center;">
          {{#link-to 'formable-pages.higher-education-establishement-registration' class="btn mt-6"}}Demander une inscription{{/link-to}}
        </div>
      </div>
    </section>
  </div>

</div>
