<div class="page organization school-education">

  <section class="hero">
    <div class="hero-background gradient-sco">
    </div>
    <div class="container padding-container">
      <h1 class="text text-ll text-left bold text-white mb-1">Évaluez et développez<br>les compétences<br>numériques des élèves</h1>
      {{#link-to 'formable-pages.school-education-establishement-registration' class="btn"}}<span>J'inscris mon établissement</span>{{/link-to}}
    </div>
  </section>

  <section class="section-infos">
    <div class="container padding-container">
      <div class="column">
        <img class="mb-3 desktop minister-logo__sco" alt="ministere de l education" src="images/ministere-logo-2.svg">
        <img class="mb-3 mobile minister-logo__sco" alt="ministere de l education" src="images/ministere-logo-2-mobile.svg">
        <p class="text text-sm text-center light text-black">Une initiative du ministère de l’Éducation nationale et de la Jeunesse, de l'Enseignement supérieur, de la Recherche et de l'Innovation.</p>
      </div>
      <div class="column">
        <img class="mb-3" alt="certification" src="images/icn-certification.svg">
        <p class="text text-sm text-center light text-black">Pix remplacera le B2i et sera généralisé à la rentrée 2019-2020 pour tous les élèves de France de 3ème et de Terminale.</p>
      </div>
      <div class="column">
        <img class="mb-3" alt="gratuit" src="images/icn-gift.svg">
        <p class="text text-sm text-center light text-black">Gratuit pour les établissements scolaires publics et privés sous contrat du second degré.</p>
      </div>
    </div>
  </section>

  <section class="section-mesurer">
    <div class="hero-background"></div>
    <h2 class="text text-lm text-center regular text-black mb-0-2">Mesurer les compétences numériques</h2>
    <h3 class="text text-mm text-center light text-black mb-7">Évaluez les compétences numériques de vos élèves dès le cycle 4 et suivez leurs progrès.</h3>
    <div class="container">
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un suivi pédagogique facilité</h4>
        <p class="text text-s text-left light text-black">Un établissement scolaire du second degré peut bénéficier d'un compte dédié et de fonctionnalités spécifiques pour identifier et évaluer les compétences numériques des élèves. Chaque enseignant peut accéder aux profils des élèves, connaître le niveau de chacun et identifier le niveau collectif d'une classe.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un test adaptatif</h4>
        <p class="text text-s text-left light text-black">Pour maintenir la motivation des élèves, le test s’adapte au niveau de chacun, réponse après réponse. Quel que soit son niveau de départ, l'élève bénéficie d'une expérience de test personnalisé et adapté.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un profil de compétences numériques à cultiver</h4>
        <p class="text text-s text-left light text-black">Pix permet à chaque élève de construire son profil de compétences numériques associé à un score global sur 1024 pix. Ce profil est actualisé au fur et à mesure des progrès de l'élève.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un large éventail de compétences</h4>
        <p class="text text-s text-left light text-black">5 domaines de compétences et plus de 500 acquis pour tester les connaissances, les savoir-faire, et la capacité à identifier les enjeux du numérique, en articulation avec les attendus des programmes scolaires et du socle commun.</p>
      </div>
    </div>
  </section>

  <section class="section-developper">
    <div class="hero-background">
    </div>
    <div class="container">
      <div class="box">
        <img src="images/img-developpez-competences.jpg">
      </div>
      <div class="txt">
        <div class="column">
          <h2 class="text text-lm text-left regular text-white mb-0-2">Développer les compétences numériques</h2>
          <h3 class="text text-mm text-left light text-white mb-4">Des épreuves ludiques et des ressources de formation</h3>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Stimulez leur envie d'apprendre</h4>
          <p class="text text-s text-left regular text-white mb-5">Défis, cas pratiques, environnement immersif : les élèves cultivent leurs compétences numériques en se testant sur une interface ludique et "gamifiée" qui stimule leur envie d'apprendre.</p>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Des ressources et des tutos pour progresser</h4>
          <p class="text text-s text-left regular text-white">Des ressources partagées - liens vers des tutoriels, fiches, cours en ligne permettent aux élèves d'en apprendre davantage sur chaque question, et ainsi de progresser.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-valoriser">
    <h2 class="text text-lm text-center regular text-black mb-0-2">Valoriser les compétences numériques</h2>
    <h3 class="text text-mm text-center light text-black mb-7">La certification Pix permet d’obtenir un profil de compétences<br>certifié, reconnu par l'État et le monde professionnel.</h3>
    <div class="container">
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">La certification nationale de la culture digitale</h4>
        <p class="text text-s text-left light text-black">Déclinée du référentiel européen DIGCOMP, la certification se présente sous la forme d’un test complémentaire et personnalisé qui a pour but de valider le profil obtenu par l’élève sur son compte Pix. </p>
      </div>
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">Un atout pour l’insertion dans le supérieur et le monde professionnel</h4>
        <p class="text text-s text-left light text-black">L'obtention de la certification est un atout dans la recherche de stage, pour le passage dans l’enseignement supérieur, et une aide à l'embauche. </p>
      </div>
    </div>
  </section>

  <section class="section-utiliser-pix">
    <h2 class="text text-lm text-center regular text-white mb-6">Utilisez Pix dans votre collège ou lycée</h2>
    <div class="container">
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">1</h3>
        <h4 class="text text-ls text-left light text-white">Demandez l'ouverture<br>d'un compte</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white">Ouvrez un compte dédié à votre établissement et invitez les professeurs. Chacun pourra ensuite créer des parcours de positionnement adaptés à ses objectifs de formation.</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">2</h3>
        <h4 class="text text-ls text-left light text-white">Accédez aux profils<br>des élèves</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white">En fonction des résultats obtenus, vous pourrez identifier les compétences numériques à approfondir, organiser des cours ciblés, et évaluer les progrès et les acquisitions des élèves.</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">3</h3>
        <h4 class="text text-ls text-left light text-white">Certifiez leurs<br>compétences numériques</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white">En fin d’année, valorisez leurs compétences en organisant des sessions de certification dans votre collège ou lycée.</p>
      </div>
      <div style="margin:auto;">
        {{#link-to 'formable-pages.school-education-establishement-registration' class="btn mt-6"}}<span>J'inscris mon établissement</span>{{/link-to}}
      </div>
    </div>
  </section>

  <section class="section-agenda">
    <div class="hero-background"></div>
    <div class="container">
      <img style="margin: auto; max-width: 90px;" src="images/icn-calendar.svg">
      <h2 class="text text-ls text-center regular text-black mb-6 mt-3">Horizon 2018-2019 :<br>Pix dans 25% des collèges et lycées dans toutes les académies</h2>
      <div style="margin:auto;">
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">À partir de septembre 2018</p>
          <p class="text text-sm text-left light text-black">Les collèges et lycées s’inscrivent et découvrent les fonctionnalités de Pix.<br>Ils préparent sa mise en place en lien avec les services académiques.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">Dès novembre 2018</p>
          <p class="text text-sm text-left light text-black">Les établissements accèdent à leur espace Pix dédié. Les équipes pédagogiques peuvent inviter les élèves à construire leurs profils Pix de compétences numériques.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">À partir de janvier 2019</p>
          <p class="text text-sm text-left light text-black">Collégiens et lycéens peuvent accéder à leurs comptes Pix plus facilement via leur Espace Numérique de Travail (fonctionnalité réservée aux ENT connectés au GAR).</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">De mars à juin 2019</p>
          <p class="text text-sm text-left light text-black">Les collèges et lycées organisent des sessions de certification pour valoriser les compétences des élèves.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">Septembre 2019 - Juin 2020</p>
          <p class="text text-sm text-left light text-black">Pix dans 100% des collèges et lycées !</p>
        </div>
      </div>
    </div>
  </section>

<section class="section-pix">
    <h2 class="text text-lm text-center regular text-black mb-6 mt-2">Pix, c'est…</h2>
    <div class="container padding-container">
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">250 000</h3>
        <p class="text text-sm text-center regular text-black">comptes créés</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">27 millions</h3>
        <p class="text text-sm text-center regular text-black">de questions répondues</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">+ 3 000</h3>
        <p class="text text-sm text-center regular text-black">parcours de tests passées</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">1 500</h3>
        <p class="text text-sm text-center regular text-black">organisations partenaires</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">35 000</h3>
        <p class="text text-sm text-center regular text-black">certification Pix délivrées</p>
      </div>
    </div>
  </section>

</div>