<main class="page stats-page">

  <header class="page-header">
    <div class="container md padding-container">
      <h1 class="page-header__title">
        Chiffres clés
      </h1>
    </div>
  </header>

  <main class="page-body">

    <div class="container md padding-container">

      <section>
        <h2>Comptes utilisateurs</h2>
        <p>Depuis le lancement de la plateforme en novembre 2015, plus de <b>250 000 citoyens</b> se sont inscrits sur Pix afin d'évaluer, développer et cultiver leur compétences numériques.</p>
        {{ember-chart type='line' data=model.accounts.data width=300 height=300}}
      </section>

      <section>
        <h2>Évaluation des compétences numériques</h2>
        <p>À ce jour, les utilisateurs de Pix ont répondu à plus de <b>27 millions d'épreuves</b> adaptatives portant sur les 5 domaines et 16 sous-domaines de compétences numériques établis par le DigComp.</p>
        <p>Depuis octobre 2018, plus de <b>3 000 campagnes d'évaluation</b> ciblées & trans-compétences ont été élaborées par les organisations partenaires mettant en oeuvre Pix dans leur établissement et proposées aux personnes qu'ils accompagnent.</p>
        {{ember-chart type='line' data=model.campaigns.data width=300 height=300}}
      </section>

      <section>
        <h2>Certifications Pix</h2>
        <p>Depuis décembre 2017, plus de 2 500 sessions de certifications ont eu lieu dans les différents centres agréés répartis dans toute la France et près de <b>40 000 titres certifiés par l'État</b> ont été délivrés par le GIP PIX.</p>
        {{ember-chart type='line' data=model.certifications.data width=300 height=300}}
      </section>

      <section>
        <h2>Déploiement</h2>
        <p>Pix est déployé et utilisé dans le cadre de l'accompagnement et la formation aux compétences numériques au sein de <b>1 500 organisations partenaires</b> telles que des établissements scolaires ou d'enseignement supérieur, des services administratifs ou missions locales, ainsi que des organismes ou entreprises du privé.</p>
        {{ember-chart type='doughnut' data=model.organizations.data width=300 height=300}}
      </section>
    </div>
  </main>

</main>
