<div class="page terms-of-service">

  <header class="page-header">
    <div class="container md padding-container">
      <h1 class="page-header__title">
        {{as-text model.rawJSON.title}}
      </h1>
    </div>
  </header>

  <div class="page-body">

    <section class="page-section section-schools">
      <div class="container md padding-container">
        <div class="page-section__description">
          {{{as-html model.rawJSON.body}}}
        </div>
      </div>
    </section>
  </div>

</div>
