.statistics {
  &__wrapper {
    padding: 0 34px 61px 34px;
  }
}

.statistics__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.statistics-wrapper {
  &__item {
    height: 196px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 32px;
    }

    img {
      max-height: 65px;
    }
  }
}

.statistics-wrapper-item-content {
  &__title h2 {
    color: $grey-90;
    font-weight: normal;
    letter-spacing: 0.15px;
    line-height: 40px;
    text-align: center;
    margin: 60px 0 64px 0;
  }

  &__subtitle h3 {
    position: relative;
    top: 24px;
    font-size: 1rem;
    font-weight: $font-light;
    height: 49px;
    letter-spacing: 0.009rem;
    line-height: 49px;
    text-align: center;
  }

  &__title h3 {
    width: 293px;
    color: $grey-90;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 43px;
    font-weight: $font-semi-bold;
    margin-top: 17px;
  }

  &__description {
    text-align: center;
    width: 293px;
    color: $grey-45;
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 5px;

    p {
      margin: 0;
    }
  }
}

@include device-is('tablet') {
  .statistics__wrapper {
    flex-direction: row;
  }
}

@include device-is('large-screen') {
  .statistics__wrapper {
    padding: 0 98px;
    max-width: 1920px;
    margin: 0 auto 24px;
  }

  .statistics-wrapper {
    &__item {
      margin-bottom: 61px;
    }
  }
}
